@page
@model TaskManagementv2.Pages.Employee.HelpModel

@{
    ViewData["Title"] = "Help";
}

<div class="help-container">
    <h1>Help</h1>
     <img src="/Images/helpme.jpg" alt="Help Image - Assistance for Employees" class="help-image" />
     @*TaskManagementv2\TaskManagementv2\wwwroot\Images\ *@
</div>

<style>
    .help-container {
        text-align: center;
        margin-top: 20px;
    }

    .help-image {
        max-width: 100%;
        height: auto;
    }
</style>
